#container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(114, 114, 132, 0.2);
}

body {
  background-color: rgb(237, 213, 239);
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  color: white;
}

.city-search-form {
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 50px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0 0 30px;
}

h3 {
  margin: 0 auto;
  text-align: left;
  padding: 0 0 0 30px;
}

hr {
  opacity: 0.8;
  margin: 20px 0 20px 0 auto;
  width: 90%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  font-size: 20px;
}

#day-time {
  opacity: 0.8;
}

.weather-emoji {
  width: 100px;
  height: 100px;
}

.weather-temp {
  margin-top: 20px;
  font-size: 50px;
}

.other-metrics {
  margin-top: 15px;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-icon {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer {
  font-size: 11px;
  opacity: 0.9;
  font-family: monospace;
  padding: 10px;
  text-align: center;
  margin: 20px;
}
