#container {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}

body {
  text-align: center;
  background-color: rgb(53, 65, 71);
}

h1 {
  font-size: 60px;
}

.search-input {
  line-height: 20px;
}

.search-button {
  line-height: 20px;
}

h2 {
  font-size: 40px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

footer {
  font-size: 11px;
  opacity: 0.9;
  font-family: monospace;
}
