#container {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(114, 114, 132, 0.2);
}

body {
  text-align: center;
  background-color: rgb(170, 132, 173);
}

h1 {
  font-size: 60px;
}

.search-input {
  line-height: 20px;
}

.search-button {
  line-height: 20px;
}

h2 {
  font-size: 40px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

footer {
  font-size: 11px;
  opacity: 0.9;
  font-family: monospace;
}
